## week 09

## Dictionary
- 영어 사전
    - 단어: 뜻
    - 키: 값
    - 순서가 없다.
    - "키로 값을 찾는다."
        - 키는 중복되지 않는 고유한 값
    - 가변: 수정, 삭제, 추가, 가능
    - 타입: dict
    - 형변환: `dict()`
    - 중괄호 사용 {}, 자료구조가 올 수 있음
    - 값에 다양한 자료구조가 올 수 있음
        - a: 1, a: [1, 2, 3, 4]

In [2]:
num = [1, 2, 3, 2, 3]
num[3]

2

In [4]:
dict1 = dict()
dict1 = {}
# set
dict1 = {} # dict type
dict1 = set()
type(dict1)

set

In [10]:
dict_ex = {2, 3, 4} # set
dict_ex = {3: 'a', 2: 'b', 3: 'c'}
dict_ex

{3: 'c', 2: 'b'}

In [13]:
attendance = {202201: ['Janmes', '경제학과'], 202202: ['Louis', '컴공과']} # 출석부에 적합한 키: 학번으로 키 가져가기
attendance1 = dict(name='James', 학번=202201, 학과='경제학과')
attendance2 = dict(이름='Laura', 학번=202203, 학과='스페인어과')
attendance3 = dict(이름='Louis', 학번=202202, 학과='컴공과')
attendance1, attendance2, attendance3

({'name': 'James', '학번': 202201, '학과': '경제학과'},
 {'이름': 'Laura', '학번': 202203, '학과': '스페인어과'},
 {'이름': 'Louis', '학번': 202202, '학과': '컴공과'})

### 형변환

In [2]:
list_ex = [['a', 'b'], ['b', 'c'], ['c', 'a']]
dict(list_ex) # 페어가 있어서 가능

{'a': 'b', 'b': 'c', 'c': 'a'}

In [4]:
# 같은 key 값이 있는 경우에는 마지막 value 값으로 입력됨
list_ex2 = [[1, 2], [1, 0], [3, 6]]
dict(list_ex2)

{1: 0, 3: 6}

In [6]:
# 문자열도 순회 가능. 단, 두자리까지만, 예외는 오류 발생
list_ex3 = ['12', '23', '57']
dict(list_ex3)

{'1': '2', '2': '3', '5': '7'}

### 항목 조회 & 변경

In [7]:
pythons = {
    'chapman': 'graham', 
    'clese': 'john', 
    'idle': 'eric', 
    'jones': 'terry', 
    'palin': 'michael'
}

In [10]:
# value 찾기
pythons['idle']

'eric'

In [13]:
# []에 없는 값을 입력하면 오류, 
# dict_name[없는key] = '새로운 value' > 새롭게 추가됨
# dict_name[기존key] = '변경 value' > value 변경
pythons['hwa'] = 'chloe'
pythons['idle'] = 'james'
pythons

{'chapman': 'graham',
 'clese': 'john',
 'idle': 'james',
 'jones': 'terry',
 'palin': 'michael',
 'hwa': 'chloe'}

In [14]:
# get()
# dict.get(key) > 없는 키는 None반환
pythons.get('lee', 0)

0

### 전체 조회
- keys() > key 조회
- values() > value 조회
- items() > 다 조회

In [16]:
list(pythons.keys())

['chapman', 'clese', 'idle', 'jones', 'palin', 'hwa']

In [17]:
list(pythons.values())

['graham', 'john', 'james', 'terry', 'michael', 'chloe']

In [18]:
list(pythons.items()) # (키, 값) 튜플 형태로 > 순회에 이용

[('chapman', 'graham'),
 ('clese', 'john'),
 ('idle', 'james'),
 ('jones', 'terry'),
 ('palin', 'michael'),
 ('hwa', 'chloe')]

In [20]:
for k, v in pythons.items():
    print(f'{k} = {v}')

chapman = graham
clese = john
idle = james
jones = terry
palin = michael
hwa = chloe

In [21]:
[(k, v) for k, v in pythons.items()]

[('chapman', 'graham'),
 ('clese', 'john'),
 ('idle', 'james'),
 ('jones', 'terry'),
 ('palin', 'michael'),
 ('hwa', 'chloe')]

In [31]:
[k[1] for k in pythons.items()] # 0 = key, 1 = values

['graham', 'john', 'james', 'terry', 'michael', 'chloe']

In [28]:
[k for k in pythons] # key 값만 반환

['chapman', 'clese', 'idle', 'jones', 'palin', 'hwa']

In [33]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [38]:
animal_legs = {}
# 1.
for i in range(len(animal)): # or enumerate(animal)
    animal_legs[animal[i]] = legs[i]

# 2.
for x, y in zip(animal, legs):
    animal_legs[x] = legs[y]
animal_legs

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

Q. pythons 에서 성: 이름, 성 첫 글자만, 이름은 글자 개수 로 이루어진 튜플 (성, 이름) 리스트로 반환하기

    - dict comprehesion 쓰기말기

In [48]:
#1. 
name_tuple = []
for k, v in pythons.items():
    name_tuple.append((k[0], len(v))) 
print(name_tuple)

#2. 
[(k[0], len(v)) for k, v in pythons.items()]

[('c', 6), ('c', 4), ('i', 5), ('j', 5), ('p', 7), ('h', 5)]

[('c', 6), ('c', 4), ('i', 5), ('j', 5), ('p', 7), ('h', 5)]

### 값 수정, 삭제, 복제, 비교

In [52]:
others = {
    'marx': 'groucho',
    'howard': 'moe'
}

In [55]:
pythons.update(others) # 추가, 있는 key는 마지막 기준 update
pythons

{'chapman': 'graham',
 'clese': 'john',
 'idle': 'james',
 'jones': 'terry',
 'palin': 'michael',
 'hwa': 'chloe',
 'rarx': 'groucho',
 'howard': 'moe',
 'marx': 'groucho'}

In [56]:
# py3 추가 기능
{**others, **pythons}

{'marx': 'groucho',
 'howard': 'moe',
 'chapman': 'graham',
 'clese': 'john',
 'idle': 'james',
 'jones': 'terry',
 'palin': 'michael',
 'hwa': 'chloe',
 'rarx': 'groucho'}

In [59]:
# 삭제
del pythons['hwa']
pythons

{'chapman': 'graham',
 'clese': 'john',
 'idle': 'james',
 'jones': 'terry',
 'palin': 'michael',
 'rarx': 'groucho',
 'howard': 'moe',
 'marx': 'groucho'}

In [67]:
pythons.pop('lee') # 없는 값 오류

KeyError: 'lee'

In [66]:
# 오류 방지
pythons.pop('lee', 0)

0

In [68]:
# 전체 삭제
pythons.clear()
pythons = {}

### 복제
- 할당
- 얕은 복사
- 깊은 복사

In [1]:
ex1 = {1: [1, 2, 3], 3: 5, 7: 8, 2: [1, 2, 3]}
copy_ex1 = ex1
ex1[1] = 'z'
ex1, copy_ex1

({1: 'z', 3: 5, 7: 8, 2: [1, 2, 3]}, {1: 'z', 3: 5, 7: 8, 2: [1, 2, 3]})

In [2]:
copy2 = ex1.copy()
ex1[2] = 2
ex1, copy2

({1: 'z', 3: 5, 7: 8, 2: 2}, {1: 'z', 3: 5, 7: 8, 2: [1, 2, 3]})

In [ ]:
ex1[1][0] = '4' 
ex1, copy2 # 얕은 복사 문제점

In [ ]:
# 깊은 복사
import copy

copy3 = copy.deepcopy(ex1)
ex1[3][0] = 1
ex1, copy3

### 비교
- 같고 다르고의 개념 (크다, 작다 > x)

In [5]:
ex1 != copy2

True

### Dictionary EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성=pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기 
4. sorted이용해서 값 정렬하기 i) key, ii) value

In [9]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth marts jupiter saturn neptune'.split()

In [10]:
solar_dict = {}
for k, e in zip(solar_kor, solar_eng):
    solar_dict[k] =  e


solar_dict['명왕성'] = 'pluto'
print(solar_dict)

{'태양': 'sun', '수성': 'mercury', '금성': 'venus', '지구': 'earth', '화성': 'marts', '목성': 'jupiter', '토성': 'saturn', '천왕성': 'neptune', '명왕성': 'pluto'}

In [15]:
solar_dict = dict([[k, v] for k, v in zip(solar_kor, solar_eng) if not k.endswith('성')])

In [16]:
solar_dict

{'태양': 'sun', '지구': 'earth'}

### 컴프리핸션

In [17]:
letter = 'lily'
# i: 1, l: 2 ...
{ch: letter.count(ch) for ch in letter}

{'l': 2, 'i': 1, 'y': 1}

In [19]:
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회
# vowels 순회

In [20]:
{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [21]:
{w: word.count(w) for w in set(word) if w in vowels}

{'a': 2, 'e': 1, 'o': 4, 'i': 1}

### setting

In [24]:
sorted(solar_dict) # key만 나열

['금성', '목성', '수성', '지구', '천왕성', '태양', '토성', '해왕성', '화성']

In [26]:
def fx(x):
    return x[1] # 1=value

In [29]:
sorted(solar_dict.items(), key=fx)

[('지구', 'earth'), ('태양', 'sun')]

In [31]:
sorted(solar_dict.items(), key=lambda x:x[0]) # lamda=익명함수: 익명으로 함수 구연

[('지구', 'earth'), ('태양', 'sun')]

### set
- "중복이 없다"
- 집합 => 교집합, 합집합, 차집합, ...
- bag, 인덱싱도 없다.

In [ ]:
- 교집합 | intersection
        a.intersection(b)
        a & b
    - 합집합 | union
        a.union(b)
        a | b
    - 차집합 | difference
        a.difference(b)
        a - b
        b.difference(a)
        b - a

In [32]:
set1 = set()
set1

set()

In [33]:
a = {'a', 'b', 'c'}

b = set(('a', 'b', 'c')) # 튜플, 혹은 리스트로 묶음

a, b

({'a', 'b', 'c'}, {'a', 'b', 'c'})

In [34]:
# 추가
a.add('f')

In [35]:
# 삭제
a.remove('b')

In [41]:
drinks = {
    'martini':  {'vodka', 'vermouth'}, 
    'black russian': {'vodka', 'kahula'}, 
    'white russian': {'cream', 'kahula'}, 
    'manhattan': {'rye', 'vermouth', 'bitters'}, 
    'screwdriver': {'orange juice', 'vodka'}
}
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)
        
for k, v in drinks.items():
    if ('vodka' in v) and not ('cream' in v or 'vermouth' in v):
        print(k)
        
        
# 집합 활용
for k, v in drinks.items():
    if 'vodka' in w and not (v & {'cream', 'vermount'}):
        print(k)

martini
black russian
screwdriver
black russian
screwdriver

In [42]:
# frozenset
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})

In [ ]:
!pip install pylint
!pylint example.py

!pip install pydocstyle
!pydocstyle example.py