# week02

## Ch02. Variables

- string
- float
- integer
- boolean

In [1]:
# 여러 이름 동시에 할당
two = deux = dos = 2 # dos -> deus -> two
two

2

In [2]:
# 불변객체이므로 deux의 값이 변하지 않음
two = 4
print(two, deux)

4 2

In [3]:
id(two), id(deux)

(2436761282960, 2436761282896)

In [51]:
p = [3, 6, 5]
q = p
p, q

([3, 6, 5], [3, 6, 5])

In [52]:
id(p), id(q)

(2436843376000, 2436843376000)

In [53]:
p[0] = 7
p, q

([7, 6, 5], [7, 6, 5])

In [54]:
id(p), id(q)

#id는 변하지 않음

(2436843376000, 2436843376000)

### 좋은 변수명
- 간결하고 명확한 이름
- 의미가 담겨야 함.
a, b, c, ...
- `코드에는 의미가 담기고 주석에는 의도가 담긴다.`
    예: the number of students
    n < the_numner_of_students < num_students
    - 카멜표기법: numStudents (주로 자바에서 사용)

### 자료형 변환, 형 변환
- str(<변환할 값>), int(), float(), bool()

In [9]:
num = 20

#str
str(num)

#float
float(num)

#bool 
bool(num) # 어떤 값이 False로 변환이 되는지 기억

True

주의할 점 1: float -> int

In [3]:
#스페이싱 주의 
x = 5.3 #소수점 내림
int(x)

5

In [4]:
y = 13.8

#출력값이 다름
print(int(x + y))
print(int(x) + int(y))

19
18

In [45]:
i = '9'
int(i), float(i) #가능함

(9, 9.0)

In [16]:
j = '10.7'
int(j)

#string으로 예상되는 것을 float로 바꾸면 error발생

ValueError: invalid literal for int() with base 10: '10.7'

## 꿀팁 `print()`

In [33]:
apple = 'apple'
banana = 'banana'
lemon = 'lemon'

print(apple + banana + lemon) # space X, \n
print(apple, banana, lemon) # space O, \n

applebananalemon
apple banana lemon

In [34]:
print(apple, banana, lemon, sep=' ', end='\n') #default
print(apple, banana, lemon, sep='/', end='\n\n')
print('EOL')

apple banana lemon
apple/banana/lemon

EOL

In [35]:
#1.
print("My favorite fruit is ", apple)

#2.
print(f"My favorite fruit is {apple}.")

My favorite fruit is  apple
My favorite fruit is apple.

코드 줄이 짧을 때 ;(semicolon)을 이용해 한 줄로 쓸 수 있다.

In [36]:
puppy = 'puppy'; kitty = 'kitty'; lamb = 'lamb'
print(puppy)

puppy

### `input()` 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받는 값은 문자열로 인식이 된다.
- 입력 받은 값을 변수에 담아서 사용한다. 안 그러면 사라짐
- 숫자일 경우 형 변환 한다.

In [37]:
input("hi")

hi 안녕

'안녕'

In [38]:
int(input('나이?'))

나이? 23

23

- 변수에 할당하는 방법

In [39]:
#1.
age = input('나이?')

나이? 33

In [30]:
age

'33'

In [40]:
#2. 
print('나이?')
age = input()

나이?

 34

In [41]:
age

'34'

#### Quiz 1 
- 섭씨를 입력 받아서 화씨로 변환하기 
- "섭씨 + 1.8 + 32 = 화씨"

In [17]:
C = int(input("섭씨 :"))
F = C*1.8 +32
print('화씨 : ', F, sep='')

섭씨 : 32

화씨 : 89.6

피드백: C와 F가 아닌 Celsius와 Fahrenheit를 사용해 변수의 의미를 이해하기 쉽도록 해야한다.

### Quiz 2
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값: 
    - 수취인 성명: <이름>
    - 수취인 주소: <주소>
    - 배송비: 3000원
    - 물건 비용: <가격>원
    - 총 합계: <가격>원
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건 비용

In [111]:
name = input("이름")
address = input("주소")
weight = float(input('무게(g)'))
price = int(weight * 5)
total = price + 3000

print(f'수취인 성명: {name}')
print(f'수취인 주소: {address}')
print('배송비: 3000원')
print(f'물건비용: {price}원')
print(f'총 합계: {total}원')

이름 백지영
주소 경기도
무게(g) 12.3

수취인 성명: 백지영
수취인 주소: 경기도
배송비: 3000원
물건비용: 61원
총 합계: 3061원

## Ch03. Numbers

#### boolean
- 형 변환할 때 True, False인지 기억하라 
    - '', None, 0, ..
- 조건식에서 많이 쓴다. 예: 만약 이 조건이 True라면 ..

In [43]:
bool(2)

True

In [44]:
bool('')

False

#### integer
- 소수점 없음
- default 양수, 음수는 앞에 -를 붙인다.
- 숫자 앞에는 0을 붙일 수 없다. 예: 07
    - 예외적으로 0bxxx, => 다른 진수 표현법
- 리터럴: 3
- 공백이 많아도 무시가 된다.
- 10,000원 -> 10과 000 두 개로 인식 => _사용

In [56]:
a = -3
2 + a

-1

In [58]:
a = 07 # 숫자 앞 0 사용 불가

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_25772/1344509212.py, line 1)

In [59]:
-1 + 3

2

In [112]:
num = 10_000
print(num)

10000

#### 연산
- 연산자|operator: +, - , ..
- 피연산자|operand: 3, 5, ..
- 수식|experession

In [61]:
x = 2
y = 8

x + y
x - y
x * y
x / y

#거듭제곱
x ** y

256

나눗셈에서 주의할 사항

In [62]:
#1. division by zero => 주의 (y!=0)
#2. 몫, 나머지
x // y, x % y, x / y

(0, 2, 0.25)

In [64]:
# 몫과 나머지만 출력
divmod(x, y)

(0, 2)

#### 복합 대입연산자|compound assignment operator

In [11]:
a = 8
a - 4
print(a)

8

In [14]:
a = a - 4
#1. a - 4 계산
#2. 임시변수 temp = a -4
#3. a = a - 4

a -= 3

In [8]:
a += 4
a -= 4
a *= 4
a /= 4

In [71]:
c = ? # 값 초기화할 것
c = c + 5

SyntaxError: invalid syntax (Temp/ipykernel_25772/2285946780.py, line 1)

### Quiz 1.

- 정수를 입력 받고 3의 배수인지 확인하세요.
- = 홀수인지 확인하세요.

In [78]:
num = int(input())
num % 3 == 0

 6

True

In [79]:
num % 2 == 1

False

#### 지수 표현
- e, E 둘다 가능 하다
- 앞부분은 float, int
- 뒷부분은 int만 온다.
    - 양수면 0 앞으로
    - 음수면 0 뒤로 (소수점)

In [82]:
1.0e6 #float

1000000.0

In [90]:
# 0.000789 => 지수 표현
789.0e-6
78.9e-5

0.000789

## Ch04

### 조건문, if

- code structure

### 코드 짜는 룰 
- 주석 다는 법
    - 설명하는 부분 
    - 목적: 의도를 표현한다.
    - '#' hash, sharp, ...
    - 시작된 부분 부터 그 라인의 끝까짖가 주석
    - 문자열 안에 들어있는 해시는 문자열로 인식
    - """<주석>""" (긴 주석)
    
- 라인 유지하기
    - 들여쓰기, 공백 4개, 탭 1개
    - 한 줄에 최대 80자 넘지 않게
    - 백슬래시로 끊어준다 ( \ )

In [93]:
x = 3 # 여기서부터 라인 끝
y = 5

In [94]:
example = 'hi ###'
print(example)

"""
주
석
"""

hi ###

'\n주\n석\n'

In [ ]:
if ....: 
    ###공백 4개 or Tap 하나

- 조건 1개
if <조건식>:
    <실행코드>

In [17]:
if 3 != 2:
    print('3은 2가 아니다')

3은 2가 아니다

- 조건 2개:
    if <조건식1>:
        <실행할 코드>
    else:
        <실행할 코드2>

In [104]:
if 3 == 2:
    print('3은 2')
else:
    print('3은 2가 아니다')

3은 2가 아니다

- 조건 3개 이상:
    if <조건식1>:
        <실행할 코드>
    elif <조건식2>:
        <실행할 코드2>
    ...else <조건식3>:
        <실행할 코드3>

#### 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값)
- x != y (값)
- x is y (값, 메모리 주소)
- x is not y

### Quiz 1.
- 학점 부여하기
- 학점을 입력 받아서
    - 90점 이상이면 A
    - 80, B
    - 70, C
    - 그외, D
- 변수 설정 유의

In [107]:
score = float(input('점수를 입력하세요:'))
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
else:
    print('C')

점수를 입력하세요: 87

B

### Quiz 2. 
- 아이디와 비번 입력 받아서 둘다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [110]:
id = 'abc100'
password = 'abc123'

input_id = input('id :')
input_pw = input('password :')

if input_id == id:
    if input_pw == password:
        print('로그인 성공')
    else: 
        print('비밀번호가 일치하지 않습니다.')
else:
    print('존재하지 않는 계정입니다.')

id : ado
password : soqo

존재하지 않는 계정입니다.

#### 논리연산자
- 여러 조건식을 비교할 때
- 예: 5 < x < 15
    - 파이썬에서만 가능한 표현
    - x > 5 혹은 x < 15
    
- and, & : 둘다 참일 때 True
- or, | : 둘 중 하나만 참이여도 True
- not : 참 -> False, 거짓 -> True

shift + \ = |

### Quiz 3. 
- quiz 2 확장판
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로

In [114]:
score = float(input('점수를 입력하세요:'))
absent = int(input('결석 횟수를 입력하세요:'))

if score >= 90:
    print('A')
elif score >= 80:
    if absent >= 2:
        print('F')
    else:
        print('B')
else:
    print('C')

점수를 입력하세요: 82
결석 횟수를 입력하세요: 3

F